@model IEnumerable<Repozytorium.Models.Ksiazka>

@{
    ViewBag.Title = "Index";
}

<h2>Lista książek</h2>

<p>
    @Html.ActionLink("Dodaj nową książkę", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gatunek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataWydania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            Doadane przez użytkownika
            @*@Html.DisplayNameFor(model => model.Uzytkownik.PelneNazwisko)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDodania)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor.Imie)
            &nbsp;
            @Html.DisplayFor(modelItem => item.Autor.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gatunek.Nazwa)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DataWydania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uzytkownik.PelneNazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDodania)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
